@model Tag

<div class="tag  @(Model.IsSection ? "k-section" : "") @(Model.HasStartDots(Model.Content) ? "start-dots" : "") @(Model.HasEndDots(Model.Content) ? "end-dots" : "")">
    <div class="tag-name">
        @Model.Name
    </div>

    @foreach (var tag in @Model.Tags)
    {
        @await Html.PartialAsync("_TagPartial", tag)
    }
    <div class="row">
        @foreach (var pair in @Model.Pairs)
        {

            <div class="col">
                <div class="tag-pair @(@Model.HasStartDots(pair.Value) ? "start-dots" : "") @(@Model.HasEndDots(pair.Value) ? "end-dots" : "")" >
                    <div class="key">
                        @pair.Key
                    </div>
                    <div class="value">
                        @Model.GetProcessedValue(pair.Value)
                    </div>
                </div>
            </div>
        }
    </div>
</div>