@page
@model DocumentationModel

@{
    ViewData["Title"] = "Documentation";
}

<div class="background"><div class="layer"></div></div>

<div class="container documentation-container">
    <h1 class="title">
        @Model.Processor.Title
    </h1>

    <span class="description">
        @Model.Processor.Description
    </span>


    @foreach (var sec in Model.Processor.Sections)
    {
    <div class="section">
        <div class="section__name">
            <span>@sec.Name</span>
        </div>
        <div class="section__description">
            <p>@sec.Description</p>
        </div>

        @if (sec.Content != "")
        {
            <div class="section__content">
                <pre><code>@sec.Content</code></pre>
            </div>
        }

        @if (sec.Name.Contains("configuration"))
        {
            @await Html.PartialAsync("_TagPartial", @Model.Processor.ProcessConfiguration(sec))
        }


        @if (sec.Name.Contains("rule"))
        {
            @await Html.PartialAsync("_TagPartial", @Model.Processor.ProcessRule(sec))
        }
    </div>
    }
</div>
